---

name: "Debug Workflow Run"
run-name: "Debug Workflow Run"
permissions: read-all

on:
  repository_dispatch:
  workflow_dispatch:
  pull_request:
  push:
    paths: ['.github/workflows/debug.yml']
  schedule:
    - cron: '0 0 * * 0'

env:
  GH_TOKEN: ${{ github.token }}

jobs:
    
  debug-tor:
    runs-on: ubuntu-latest
    steps:

      - name: "Install"
        run: sudo apt install -y tor

      - name: "Check https://ifconfig.me"
        run: curl --silent --proxy socks5h://localhost:9050 https://ifconfig.me/all.json | jq

      - name: "Check https://check.torproject.org"
        run: curl --silent --proxy socks5h://localhost:9050 https://check.torproject.org/api/ip | jq

      - name: "Restart Tor"
        run: sudo service tor restart

      - name: "Check https://ifconfig.me"
        run: curl --silent --proxy socks5h://localhost:9050 https://ifconfig.me/all.json | jq

      - name: "Check https://check.torproject.org"
        run: curl --silent --proxy socks5h://localhost:9050 https://check.torproject.org/api/ip | jq
