---

name: "Debug Workflow Run"
run-name: "Debug Workflow Run"
permissions: read-all

on:
  repository_dispatch:
  workflow_dispatch:
  pull_request:
  push:
    paths: ['.github/workflows/debug.yml']
  schedule:
    - cron: '0 0 * * 0'

env:
  GH_TOKEN: ${{ github.token }}

jobs:

  test-that-tor-is-not-default:
    runs-on: ubuntu-latest
    steps:

      - id: check
        name: "Check"
        run: curl --silent "${ENDPOINT}" | jq --raw-output "${JQ_QUERY}" | tee -a "${GITHUB_OUTPUT}"
        env:
          ENDPOINT: https://check.torproject.org/api/ip
          JQ_QUERY: . | to_entries[] | select(.value != "") | .key + "=" + (.value | tostring)

      - id: assert
        name: "Assert That Tor Is Not Connected"
        run: test "${IS_TOR}" = "false"
        env:
          IS_TOR: ${{ steps.check.outputs.IsTor }}

  test-that-tor-can-connect:
    runs-on: ubuntu-latest
    steps:

      - id: install
        name: "Install"
        run: sudo apt install -y tor

      - id: check
        name: "Check"
        run: curl --silent --proxy "${TORPROXY}" "${ENDPOINT}" | jq --raw-output "${JQ_QUERY}" | tee -a "${GITHUB_OUTPUT}"
        env:
          TORPROXY: socks5h://localhost:9050
          ENDPOINT: https://check.torproject.org/api/ip
          JQ_QUERY: . | to_entries[] | select(.value != "") | .key + "=" + (.value | tostring)

      - id: assert
        name: "Assert That Tor Is Connected"
        run: test "${IS_TOR}" = "true"
        env:
          IS_TOR: ${{ steps.check.outputs.IsTor }}

  test-that-tor-can-reconnect:
    runs-on: ubuntu-latest
    steps:

      - id: install
        name: "Install"
        run: sudo apt install -y tor

      - id: check-before
        name: "Check"
        run: curl --silent --proxy "${TORPROXY}" "${ENDPOINT}" | jq --raw-output "${JQ_QUERY}" | tee -a "${GITHUB_OUTPUT}"
        env:
          TORPROXY: socks5h://localhost:9050
          ENDPOINT: https://check.torproject.org/api/ip
          JQ_QUERY: . | to_entries[] | select(.value != "") | .key + "=" + (.value | tostring)

      - name: "Restart"
        run: sudo service tor restart

      - id: check-after
        name: "Check"
        run: curl --silent --proxy "${TORPROXY}" "${ENDPOINT}" | jq --raw-output "${JQ_QUERY}" | tee -a "${GITHUB_OUTPUT}"
        env:
          TORPROXY: socks5h://localhost:9050
          ENDPOINT: https://check.torproject.org/api/ip
          JQ_QUERY: . | to_entries[] | select(.value != "") | .key + "=" + (.value | tostring)

      - id: assert-was-connected-before
        name: "Assert That Tor Was Connected Before"
        run: test "${IS_TOR}" = "true"
        env:
          IS_TOR: ${{ steps.check-before.outputs.IsTor }}

      - id: assert-is-connected-after
        name: "Assert That Tor Is Connected After"
        run: test "${IS_TOR}" = "true"
        env:
          IS_TOR: ${{ steps.check-after.outputs.IsTor }}

      - id: assert-ip-has-changed
        name: "Assert That IP Has Changed"
        run: test "${IP_BEFORE}" != "${IP_AFTER}"
        env:
          IP_BEFORE: ${{ steps.check-before.outputs.IP }}
          IP_AFTER: ${{ steps.check-before.outputs.IP }}

  test-that-tor-respects-torrc:
    runs-on: ubuntu-latest
    steps:

      - id: install
        name: "Install"
        run: sudo apt install -y tor

      - id: configure
        name: "Configure"
        run: |
          tee "${HOME}/.torrc" << EOF
          GuardLifetime 123 days
          EOF

      - id: verify-config
        name: "Verify Config"
        run: tor --verify-config

      - id: dump-config
        name: "Dump Config"
        run: tor --dump-config long

  test-that-tor-can-use-bridges:
    runs-on: ubuntu-latest
    steps:

      - id: install
        name: "Install"
        run: sudo apt install -y tor

      - id: configure
        name: "Configure"
        run: |
          tee "${HOME}/.torrc" << EOF
          UseBridges 1
          EOF

      - id: check
        name: "Check"
        run: curl --silent --proxy "${TORPROXY}" "${ENDPOINT}" | jq --raw-output "${JQ_QUERY}" | tee -a "${GITHUB_OUTPUT}"
        env:
          TORPROXY: socks5h://localhost:9050
          ENDPOINT: https://check.torproject.org/api/ip
          JQ_QUERY: . | to_entries[] | select(.value != "") | .key + "=" + (.value | tostring)

      - id: assert
        name: "Assert That Tor Is Connected"
        run: test "${IS_TOR}" = "true"
        env:
          IS_TOR: ${{ steps.check.outputs.IsTor }}
